# Auto detect text files and perform LF normalization
* text=auto
num=int(input("Enter your number"))
n1,n2=0,1
sum=0
If num<0:
Print("Please enter number greater than 0")
else:
for i in range(0,num):
print(sum, end" ")
n1=n2
n2=sum
sum=n1+n2
